* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*eneme = nav*/

/*---START OF NAV---*/
eneme {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: red;
    justify-content: center;
    z-index: 10;

}

eneme ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

eneme a {
    font-weight: 500;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: block;
    font-size: 16px;
    color: black;
}

eneme ul li {
    display: inline-block;
    position: relative;
    margin: 10px 30px;
}

eneme ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

eneme ul li:hover::after {
    width: 100%;
}


/*---END OF NAV---*/

/*---START OF SECTION---*/
.section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: beige;
}

.section:nth-child(odd) {
    background-color: lightcyan;
}

/*---END OF SECTION---*/

/*---START OF ABOUT---*/

#about {
    padding-bottom: 35px;
}

#about h1 {
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 360px 20px 360px;
}

#about h3 {
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 360px 10px 360px;
    font-weight: bolder;
}

#about p {
    font-size: 1em;
    color: black;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 300px 0px 300px;
}

/*---END OF ABOUT---*/

/*---START OF FEES---*/
#fees{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: initial; */
    padding: 10rem 5rem;
}

#fees h1 {
    display: block;
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 8rem;
}

#fees .feesbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.local {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #A9CFEE;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
}

.foreign {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #A9CFEE;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
}

#fees h2 {
    font-size: 1.9em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px;
}

#fees h3 {
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#fees p {
    font-size: 1em;
    color: black;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

/*---END OF FEES---*/

/*---START OF RESEARCH CATEGORY---*/

#research h1 {
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 360px 0px 360px;
    width: 100%;
}


#research h2 {
    font-size: 1.2em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px;
}

#research h3 {
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-weight: bolder;
    padding-top: 10px;
}


#research p {
    font-size: 1em;
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 30px 10px 30px;
    font-weight: bolder;
}

#research ul li {
    list-style: disc;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px 20px 0px 20px;
    color: #000;
}

.listahan {
    margin: 0px 30px 0px 30px;
    padding-bottom: 20px;
    font-size: 1.1em;
}

.researchGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.researchG1 {
    grid-column: 1;
    grid-row: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #A9CFEE;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
    padding: 0px 10px 12px 10px;
    margin-left: 30px;
}

.researchG2 {
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #A9CFEE;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
    padding: 0px 10px 12px 10px;
    margin-left: 30px;
}

.researchG3 {
    grid-column: 3;
    grid-row: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #A9CFEE;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
    padding: 0px 10px 12px 10px;
    margin-left: 30px;
}

.researchG4 {
    grid-column: 4;
    grid-row: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #A9CFEE;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
    padding: 0px 10px 12px 10px;
    margin-left: 30px;
}


/*---END OF RESEARCH CATEGORY---*/

/*---START OF EXTENSION CATEGORY---*/

#extension h1 {
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 360px 20px 360px;
}


.bekstensyon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    text-align: center;
    gap: 20px;
    margin-right: 30px;
    margin-left: 30px;

}

.beks {
    padding: 10%;
    background-color: #A9CFEE;
    padding-top: 2%;
    padding-bottom: 3%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#extension h2 {
    text-align: center;
    font-size: 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-weight: bolder;
}

#extension h3 {
    font-size: 1.5em;
    align-items: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: bolder;
}

.bekstensyon li {
    text-align: left;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

.beksabs {
    font-size: 1.1em;
    padding: 10%;
    background-color: rgb(248, 248, 235);
    padding-top: 2%;
    padding-bottom: 3%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    margin-left: 30px;
}

.beksabs li{
    font-size: 1em;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

/*---END OF EXTENSION CATEGORY---*/




/*---START OF EPOSTER---*/
#eposters h1 {
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 360px 20px 360px;
}

#eposters h2 {
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 360px 10px 360px;
    font-weight: bolder;
}

#eposters ol {
    list-style: decimal;
    padding-left: 50px;
}

#eposters li {
    list-style: inherit;
    display: list-item;
    font-size: 1em;
    color: black;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 10px;
}

#eposters ul{
    list-style: circle;
    padding-left: 20px;
}

/*---END OF EPOSTER---*/

/*---START OF FOOTER---*/
.footer {
    background-color: black;
}

.logo-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-group img {
    width: 4%;
    height: 4%;
    margin: .5em 1em;
}

.paa {
    display: block;
    width: 100%;
    justify-content: center;
}

.paa ul:first-child {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.paa a {
    font-weight: 500;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: block;
    font-size: 16px;
    color: white;
}

.paa ul:first-child li {
    display: inline-block;
    position: relative;
    margin: 10px 10px;
}

.paa ul:first-child li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.paa ul li:hover::after {
    width: 100%;
}

.bottom-footer{
    display: flex;
    justify-content: center;
}

.bottom-footer li{
    font-weight: 500;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: block;
    font-size: 16px;
    color: white;
    margin: 10px 10px;
}
/*---END OF FOOTER---*/