* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*eneme = nav*/

/*---START OF NAV---*/
eneme {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: red;
    justify-content: center;

}

eneme ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

eneme li {
    margin: 10px 30px;
}

eneme a {
    font-weight: 500;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: block;
    font-size: 16px;
    color: black;
}

eneme ul li {
    display: inline-block;
    position: relative;
}

eneme ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

eneme ul li:hover::after {
    width: 100%;
}


/*---END OF NAV---*/

/*---START OF SECTION---*/
.section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: beige;
}

.section:nth-child(odd) {
    background-color: lightcyan;
}
/*---END OF SECTION---*/

/*---START OF ABOUT---*/

#about{
    padding-bottom: 35px;
}

#about h1 {
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 360px 20px 360px;
}

#about h3 {
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 360px 10px 360px;
    font-weight: bolder;
}    

#about p {
    font-size: 1em;
    color: black;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 300px 0px 300px;
}

/*---END OF ABOUT---*/

/*---START OF FEES---*/
#fees h1{
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 360px 20px 360px;
}

.feesbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid black;
    gap: 50px;
}

#fees .local .foreign{
    border: 5px solid black;
}

#fees h2{
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#fees h3{
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}








/*---START OF RESEARCH CATEGORY---*/

#research h1{
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 360px 20px 360px;
}

#research h3 {
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-weight: bolder;
}

.researchGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 20px;
    margin: 0;
}

/*---END OF RESEARCH CATEGORY---*/

/*---START OF EXTENSION CATEGORY---*/

#extension h1{
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 360px 20px 360px;
}

#extension h3 {
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-weight: bolder;
}

/*---END OF RESEARCH CATEGORY---*/